body{
	font-family: Times, 'Times New Roman', serif;
	font-size : 19.2px;
	color: black;
}

nav li{
	font-family: 'Blackout-Sunrise', 'Ostrichsans-Black', 'Helvetica Neue', Helvetica, sans-serif;	
	font-size: 1.414em;
	margin-left: 10px;
}

%title_font_family{
	font-family: 'Blackout-Midnight', 'Ostrichsans-Black', 'Helvetica Neue', Helvetica, sans-serif;
}

h1.main_title{
	@extend %title_font_family;
	font-size: 3.998em;
	margin-left: 10px;
	margin-top:10px;
}

.nav-pills > li.active > a, .nav-pills>li.active>a:hover {
	@extend %title_font_family;
	background-color: #223;
}

.selected a{
	color: white;
}

.jumbotron{
	padding-top:.1px; //otherwise won't extend to top of screen for some reason
}
table, tr, td, th{
	border:1px solid black;
	border-collapse: collapse;
}
td, th{
	padding: 10px;
	text-align: left;	
}
th{
	font-weight: normal;
}

table{
	margin-left: auto;
	margin-right: auto;
}

button{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.disabled_button{
	margin: 10px;
	width: 80px;
	height: 30px;
}
.dvd_released, .good{
	background: #88e884;
}
.theater_released, .ok{
	background: #ffe100;
}
.unreleased, .bad{
	background: #ff3237;
}

input{
	margin: 10px;
}

form.center{
	text-align: center;
	margin: 1em 0;
}



