$sans_serif_font_family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif_font_family: Times, 'Droid Serif', 'Times New Roman', serif;
$display_font_family: 'Blackout-Sunrise', 'Ostrichsans-Black', 'Helvetica Neue', Helvetica, sans-serif;
$title_font_family: 'Blackout-Midnight', 'Ostrichsans-Black', 'Helvetica Neue', Helvetica, sans-serif;
$green : #88e884;
$yellow : #ffe100;
$red : #ff3237;
$blue : steelblue;

body{
	font-family: $serif_font_family;
	font-size : 19.2px;
	color: black;
}

nav li{
	font-family: $display_font_family;
	font-size: 1.414em;
	margin-left: 10px;
}

%title_font_family{
	font-family: $title_font_family;
}
h1,h2,h3,h4,button{
	font-family: $sans_serif_font_family;
}

h1.main_title{
	@extend %title_font_family;
	font-size: 3.998em;
	margin-left: 10px;
	margin-top:10px;
}

.nav-pills > li.active > a, .nav-pills>li.active>a:hover {
	@extend %title_font_family;
	background-color: #223;
}

.selected a{
	color: white;
}

.jumbotron{
	padding-top:.1px; //otherwise won't extend to top of screen for some reason
}
table, tr, td, th{
	border:1px solid black;
	border-collapse: collapse;
}
td, th{
	padding: 10px;
	text-align: left;	
}
th{
	font-weight: normal;
}

table{
	margin-left: auto;
	margin-right: auto;
}

label{
	margin-bottom: 0;
	font-family: $sans_serif_font_family;
}

/*
* Table styles
*/
.dvd_released, .good{
	background-color: $green;
}
.theater_released, .ok{
	background-color: $yellow;
}
.unreleased, .bad{
	background-color: $red;
}

td a{
	color: black;
}

.center{
	text-align: center;
}

/*
* Index styles
*/
.add_button{
	margin: 1em 0;
}
.disabled_button{
	margin: 10px;
	width: 80px;
	height: 30px;
}

/*
* Modal Styles
*/
.modal-header{
	background-color: $blue;
	color : white;
}
.modal-footer{
	border-top: none;
	p{
		text-align: left;
	}
}

.add .hide-for-add{
	display: none;
}
.edit .hide-for-edit{
	display: none;
}


