.DS_Store
*.sublime-project
*.sublime-workspace
*.JPG
*.jpg
*.jpeg
*.png
*.PNG
*.ai
**/.sass-cache/*
.sass-cache
.sass-cache/*
node_modules/*
#compiled files
public_html/styles/style.css
public_html/scripts/app*
#secrets
db.php