/* line 1, ../sass/style.scss */
body {
  font-family: Times, 'Times New Roman', serif;
  font-size: 19.2px;
}

/* line 6, ../sass/style.scss */
nav li {
  font-family: 'Blackout-Sunrise', 'Ostrichsans-Black', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.414em;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
}

/* line 15, ../sass/style.scss */
h1, .selected {
  font-family: 'Blackout-Midnight', 'Ostrichsans-Black', 'Helvetica Neue', Helvetica, sans-serif;
}

/* line 19, ../sass/style.scss */
h1 {
  font-size: 3.998em;
}

/* line 24, ../sass/style.scss */
.selected {
  background-color: #223;
}

/* line 29, ../sass/style.scss */
.selected a {
  color: white;
}

/* line 33, ../sass/style.scss */
#center {
  text-align: center;
  color: black;
  background: white;
  margin: 0 auto;
  max-width: 950px;
}

/* line 41, ../sass/style.scss */
table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

/* line 45, ../sass/style.scss */
td, th {
  padding: 10px;
  text-align: left;
}

/* line 49, ../sass/style.scss */
th {
  font-weight: normal;
}

/* line 53, ../sass/style.scss */
table {
  margin-left: auto;
  margin-right: auto;
}

/* line 58, ../sass/style.scss */
button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 62, ../sass/style.scss */
button.add_movie {
  width: 250px;
  height: 65px;
  font-size: 1.2em;
}

/* line 67, ../sass/style.scss */
button.add_movie:hover {
  background: #a9e9ff;
}

/* line 71, ../sass/style.scss */
.disabled_button {
  margin: 10px;
  width: 80px;
  height: 30px;
}

/* line 76, ../sass/style.scss */
.dvd_released, .good {
  background: #88e884;
}

/* line 79, ../sass/style.scss */
.theater_released, .ok {
  background: #ffe100;
}

/* line 82, ../sass/style.scss */
.unreleased, .bad {
  background: #ff3237;
}

/* line 86, ../sass/style.scss */
nav {
  text-align: center;
  margin: 10px;
}

/* line 91, ../sass/style.scss */
input {
  margin: 10px;
}

/* line 95, ../sass/style.scss */
.form_control {
  margin: 45px 0 0 0;
}
