#center{
	text-align: center;
	color: black;
	background: white;
	position: relative;
	margin: 0 auto;
	max-width: 950px;
}

table, tr, td{
	border:1px solid black;
	border-collapse: collapse;
}
td{
	padding: 10px;
	text-align: left;
	
}
tr{
	
}
table{
	margin-left: auto;
	margin-right: auto;
}

button.add_movie{
	width: 250px;
	height: 65px;
	font-size: 20px;
}
button.add_movie:hover{
	background: #a9e9ff;
}

button.select{
	margin: 10px;
	width: 80px;
	height: 30px;
}
button.select:hover{
	background: #a9e9ff;
}
.disabled_button{
	margin: 10px;
	width: 80px;
	height: 30px;
}
.dvd_released{
	background: #88e884;
}
.theater_released{
	background: #ffe100;
}
.unreleased{
	background: #ff3237;
}
div.add_movie_div{
	position: fixed;
	left: 400px;
	top: 100px;
	height: 200px;
	width: 500px;
	border:1px solid black;
	background: white;
	text-align: center;
	padding: 50px;
}

/*.edit_button:hover{
	border:1px solid #a9e9ff;
}
.edit_button{
	border:1px solid black;
}*/
#menu{
	text-align: center;
	margin: 10px;
}
.menu_box{
	text-align: center;
	display: inline-block;
	font-size: 200%;
	padding: 10px;
	border:1px solid black;
	border-collapse: collapse;
	margin-bottom: 15px;
}
.menu_box_selected{
	text-align: center;
	display: inline-block;
	font-size: 200%;
	padding: 10px;
	background-color: blue;
	border:1px solid black;
	border-collapse: collapse;
	margin-bottom: 15px;
}
a.selected{
	color: white;
}
input{
	margin: 10px;
}





